<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout::setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-sm">
            <!--제목-->
            <div class="row">
                <h1>Select Care Services</h1>
            </div>
            <hr>
            <!---->
            <!--카드-->
            <div class="container text-center my-4" style="max-width: 960px">

                    <div class="d-flex justify-content-around my-4">
                <div class="row row-cols-3">
                <div class="col my-3">
                    <a class="selected-a" href="/reservation/select-options?idx=1">
                        <div class="card" style="width: 18rem;">
                            <img src="/dist/image/cut.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">미용 (소형견 기준/옵션 추가)</p>
                                <p class="card-text">52,000원</p>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col my-3">
                    <a class="selected-a" href="/reservation/select-options?idx=2">
                        <div class="card" style="width: 18rem;">
                            <img src="/dist/image/bath.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">목욕 (소형견 기준/옵션 추가)</p>
                                <p class="card-text">45,000원</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col my-3">
                    <a class="selected-a" href="/reservation/select-options?idx=3">
                        <div class="card" style="width: 18rem;">
                            <img src="/dist/image/pethygieneCare.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">발톱 정리 (위생 미용)</p>
                                <p class="card-text">25,000원</p>
                            </div>
                        </div>
                    </a>
                </div>

                    <div class="col my-3">
                        <a class="selected-a" href="/reservation/select-options?idx=4">
                            <div class="card" style="width: 18rem;">
                                <img src="/dist/image/petCare.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">돌봄 (+60분, 120분)</p>
                                    <p class="card-text">26,000원</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                    </div>

            </div>
            <!---->
            <div class="event-title">
                <h1>Select Care Event</h1>
            </div>
            <hr>
            <div class="container text-center my-4" style="max-width: 960px">
                <div class="d-flex justify-content-around my-4">
                    <div class="row row-cols-3">
                        <div class="col my-3">
                            <a class="selected-a" href="/reservation/select-options?idx=5">
                                <div class="card" style="width: 18rem;">
                                    <img src="/dist/image/ticket-100.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">[이벤트]펫VIP 정액권 100만원</p>
                                        <p class="card-text">1,000,000원</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col my-3">
                            <a class="selected-a" href="/reservation/select-options?idx=6">
                                <div class="card" style="width: 18rem;">
                                    <img src="/dist/image/ticket-50.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">[이벤트]펫VIP 정액권 50만원</p>
                                        <p class="card-text">500,000원</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col my-3">
                            <a class="selected-a" href="/reservation/select-options?idx=7">
                                <div class="card" style="width: 18rem;">
                                    <img src="/dist/image/ticket-30.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">[이벤트]펫VIP 정액권 30만원</p>
                                        <p class="card-text">300,000원</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col my-3">
                            <a class="selected-a" href="/reservation/select-options?idx=8">
                                <div class="card" style="width: 18rem;">
                                    <img src="/dist/image/petFilming.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">[이벤트]꽃단장,나들이 촬영 패키지</p>
                                        <p class="card-text">250,000원</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>