<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<th:block th:replace="~{layout::setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/dist/css/select-options.css}">
        <div class="container-sm">
            <!--제목-->
            <div class="row">
                <h5><span style="color: rgb(170, 170, 170);">Home > 케어서비스 ></span> <span id="option-title"></span></h5>
            </div>
            <!---->
            <!--메인-->
            <p data-widget-name=""></p>
            <div class="row">
                <!--왼쪽 사진-->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="owl-item-img">
                        <img class="item-img" src="" style="width: 610px; height: 610px;">
                    </div>
                </div>
                <!---->
                <!--셀렉트-->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h3 id="idx-display"></h3>
                    <hr>
                    <div id="idx-text"></div>
                    <form action="/reservation/booking" method="get">
                        <p>기본사항*</p>
                        <select class="form-select" id="size" aria-label="Default select example">
                            <option value="크기 (필수)" selected>크기 (필수)</option>

                        </select>
                        <hr>
                        <p>추가사항</p>
                        <select class="form-select" id="fur" aria-label="Default select example">
                            <option value="털엉킴,뭉침 추가 (선택)" selected>털엉킴,뭉침 추가 (선택)</option>
                            <option value="1">소형</option>
                            <option value="2">중형</option>
                            <option value="3">대형</option>
                        </select>
                        <select class="form-select" id="aggression" aria-label="Default select example">
                            <option value="공격성 추가 (선택)" selected>공격성 추가 (선택)</option>
                            <option value="1">소형</option>
                            <option value="2">중형</option>
                            <option value="3">대형</option>
                        </select>
                        <hr>
                        <select class="form-select" id="temporary" aria-label="Default select example">
                            <option value="임시 (선택)" selected>임시 (선택)</option>
                            <option value="1">소형</option>
                            <option value="2">중형</option>
                            <option value="3">대형</option>
                        </select>
                        <hr>
                        <div id="result"></div>
                        <div id="totalbox"><span id="totalPrice"></span> </div>
                        <div class="select-buy-btn">
                        <button class="select-reservation-btn" type="submit" onclick="location.href='#'">예약하기</button>
                        <button class="select-add-btn" type="submit" onclick="location.href='#'">담기</button>
                        </div>
                    </form>
                </div>
                <!---->
                <!--상세정보 및 리뷰-->
                <div class="row">
                    <h1>상세정보 / 구매평</h1>
                    <hr>
                    <div class="service-region">
                        <h3 style="margin: 0px 0px 3px; padding: 0px; font-weight: 600; font-size: 18px;">
                            [서비스가능 지역]
                        </h3>
                        <p><span style="font-size: 16px;">* 서울전지역</span></p>
                        <p><span style="font-size: 16px;">* 경기 일부지역(연천,포천,가평,여주,평택,용인 등 서비스불가)</span></p>
                        <p><span style="font-size: 16px;">* 인천일부지역(강화,영종도 등 서비스불가)</span></p>
                        <br>
                        <p><span style="font-size: 16px;">※ 경기 외곽지역 및 그 외 지역은 추가요금이 발생할 수 있습니다.</span></p>
                    </div>
                    <br>
                    <div style="height: 70px"></div>
                    <div class="serviceCare-reservation-text container text-center" th:if="${param.idx != 8}">
                        <h2>결제 후 바로 <strong>'예약대기'</strong> 상태가 됩니다.</h2>
                        <h2>착오 없으시길 바랍니다.</h2>
                        <br>
                        <h3>※ 매니저 매칭후 자세한 일정 및 서비스 안내차 개별 연락 드린후 <br> <strong>'예약확정'</strong>이 됩니다.</h3>
                    </div>
                    <div class="container text-center">
                        <img class="ServiceCareDetail-img" src="" alt="">
                    </div>
                    <div style="height: 80px;"></div>
                    <div id="serviceDetail-text"></div>
                </div>
                <!---->
            </div>
            <!---->
        </div>
        <!--스크립트-->
        <script th:src="@{/dist/js/select-options.js}"></script>
        <script th:src="@{/dist/js/select-options-right-text.js}"></script>

    </th:block>
</th:block>