<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout::setFragment(~{this::content})}">
    <th:block th:fragment="content">

        <head>
            <link rel="stylesheet" th:href="@{/dist/css/qna.css}">
        </head>

        <div class="content-top">
            <div class="content-top_image" style="background-image: url(../dist/image/petvip.png)">
                <div class="content-top_title">
                    <p><strong>Q&A</strong></p>
                </div>
            </div>
            <div class="content-top_list">
                <ul>
                    <li><a th:href="@{/community/announcement}"><strong>About Us</strong></a></li>
                    <li><a th:href="@{/community/qna}"><strong>Q&A</strong></a></li>
                    <li><a th:href="@{/community/event}"><strong>EVENT</strong></a></li>
                </ul>
            </div>
        </div>

        <div class="container-sm">
            <div class="qna_box">
                <div class="sub-title">
                    <div>자주 하시는 질문(Q&A) 외에 1:1문의(글쓰기)이 가능합니다. 궁금한 사항은 하단에 "글쓰기"탭을 이용해 주세요 :)</div>
                    <div>카카오채널 "petvip"대화를 통한 상담도 진행하고 있습니다.</div>
                </div>

                <div class="qna_listBox">
                    <form action="/comm/qna" method="get">
                        <th:block th:each="qna, no:${qna}">
                            <div class="accordion accordion-flush" th:id="'accordionFlushExample' + ${no.index}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header qna_titleArea" th:id="'flush-heading' + ${no.index}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#flush-collapse' + ${no.index}" aria-expanded="false" th:aria-controls="'flush-collapse' + ${no.index}">
                                            <h4 class="QnaListIcon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                                                <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.18.18 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.18.18 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.18.18 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.18.18 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.18.18 0 0 0 .134-.098z"/>
                                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                                            </svg>　　</h4><strong>[[${qna.title}]]</strong>
                                        </button>
                                    </h2>
                                    <div th:id="'flush-collapse' + ${no.index}" class="accordion-collapse collapse" th:data-bs-parent="'#accordionFlushExample' + ${no.index}">
                                        <div class="accordion-body qna_contentArea">
                                            <span>
                                                [[${qna.content}]]
                                            </span>
                                        </div>
                                        <div class="qna_regDate">관리자　[[${qna.regDate}]]</div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>