<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--레이아웃 잡기-->
<th:block th:fragment="setFragment(content)">
    <head>
        <meta charset="UTF-8">
        <title>PetCare</title>
        <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css?after}">
        <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>

        <link rel="stylesheet" th:href="@{/dist/css/header.css}">
        <link rel="stylesheet" th:href="@{/dist/css/footer.css}">

    </head>


    <body>
    <!-- header line -->
    <header>
        <div class="maingroup">
            <div class="petMangaer">
                펫 메니저 지원
            </div>

            <div class="Logo">
                <a th:href="@{/}"><img th:src="@{/dist/image/petMainLogo.jpg}" alt="No image"></a>
            </div>

            <div class="group">
                <div class="Login"><a th:href="@{/member/login}">Login</a></div>
                <div class="padding">/</div>
                <div class="Join"><a th:href="@{/member/register}">Join</a></div>
                <div class="padding">/</div>
                <div class="Mypage">마이페이지</div>
            </div>
        </div>
    </header>
    <div class="nav">
        <div class="group1">
            <ul>
                <li><a th:href="@{/test/information}">산책</a></li>
                <li><a th:href="@{/#}">케어서비스</a></li>
                <li><a href="#">훈련서비스</a></li>
                <li><a href="#">정기케어</a></li>
                <li><a href="#">스토어</a></li>
                <li><a th:href="@{/comm/announcement}">COMMUNITY</a></li>
            </ul>
        </div>
    </div>








    <!-- body line -->
    <div class="container-fluid">
        <th:block th:replace="${content}"></th:block>
    </div>








    <!-- footer line -->
    <footer>
        <ul style>
            <li class>
                <p>
                    (주) 브아이팻 대표이사:레이트| 사업장주소:서울 구로구 디지털로 30길 28(마리오 타워)821호/세종특별시 조치원읍 세종로 229,3층 305호(세종창업키움센터)
                </p>
            </li>
            <li>
                <p>
                    사업자 등록번호 203-81-66522|대표번호:02-890-0788
                </p>
            </li>
            <li>
                <p>
                    (주) 브이아이펫으 모든 콘텐츠는(영상,사진,등) 저작권법의 보호를 받는 바 무단 전재 복사 배포 등을 금합니다.
                </p>
            </li>
        </ul>

        <button type="button" class="mainBtn" >메인 홈페이지</button>

    </footer>










    <script>
        document.getElementById('logoutLink').addEventListener('click',(e)=>{
            <!--a tag 무력화-->
            e.preventDefault();
            document.getElementById('logoutForm').submit();
        })
    </script>



    </body>
</th:block>
</html>