<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout::setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <head>
            <link rel="stylesheet" th:href="@{/dist/css/pay.css}">
            <script th:src="@{/js/pay.js}"></script>
        </head>
        <body>
        <div class="container">
            <h1>결제창</h1>
            <div class="image">
                <div class="animal_image">

                </div>
            </div>
            <div class="test2">
                <div class="pay">

                </div>
            </div>
            <div class="test3">

            </div>

            <div class="test4">

            </div>

        </div>
        </body>
    </th:block>
</th:block>
</html>
