<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.www.repository.ReviewPageMapper">

    <insert id="post">
        insert into(teacher,writer,content)
        values(#{teacher},#{writer},#{content})
    </insert>
    <select id="detail" resultType="com.ezen.www.domain.TeacherVO">
        select*from teacher where tno=#{tno}
    </select>

</mapper>