<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout::setFragment(~{this::content})}">
    <th:block th:fragment="content">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/qna.css}">
    <script th:src="@{/js/qna.js}"></script>
    <link rel="stylesheet" th:href="@{/dist/css/reset.css}">
</head>
    <div class="qna_container">
    <form action="/comm/qna" method="get">
        <div class="qnapage">
            <span>qna 페이지에 오신것을 환영합니다</span>
            <p>자주물어보는 질문들이 준비되어있습니다</p>
        </div>
        <div class="menu">
            <ul>
                <li><a th:href="@{/comm/announcement}">AboutUs</a></li>
                <li><a th:href="@{/comm/qna}">Q&A</a></li>
                <li><a th:href="@{/static}">언론홍보 보도자료</a></li>
                <li><a th:href="@{/static}">반려동물 소식</a></li>
            </ul>
        </div>
        <table>
            <thead>
            <tr>
                <th>no</th>
                <th>제목</th>
                <th>글쓴</th>
                <th>작성시간</th>
            </tr>
            </thead>
            <tbody>
             <tr th:each="cvo:${qna}">
                 <td>[[${cvo.no}]]</td>
                 <td>[[${cvo.title}]]</td>
                 <td>[[${cvo.writer}]]</td>
                 <td>[[${cvo.regDate}]]</td>
             </tr>
            </tbody>
        </table>
        <div class="search_box">
            검색:<input type="text">
            <button type="button" class="check_box">확인</button>
        </div>
        <a th:href="@{/comm/register}"><button type="button" class="writing_button">글쓰기</button></a>
    </form>
    </div>
    </th:block>
</th:block>
</html>